.logo-img {
  width: 50px;
}
.nav-flex-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.menu-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-nav-icon-wrapper {
  position: relative;
}

.input-search {
  width: 30vw;
}
.input-nav-icon-wrapper svg{
  position: absolute;
top: 10px;
right: 10px;
  color:#6495ED ;
}
.menu-config {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.action-button svg{
  color:#6495ED ;
  width: 25px;
  height: 25px;
}