.min-max-input {
  display: flex;
  width: 100px;
  margin: 0 10px;
}
.dorms-dropdowns{
  display: flex;
  justify-content: space-between;
}
.garages-dropdowns {
  display: flex;
  justify-content: space-between;
}